.about {
    color:#13262F;
    size: 18px;
}

article {
    margin-bottom: 20px;
}

.bodyClass {
background-color:#73683B ;  
    background-image: url("../../Images/light-grey-terrazzo.png");
    /* Background pattern from Toptal Subtle Patterns */
}

br {
    clear: both;
}

.button {
background-color: #583E23;
color:#FFA064;
padding: 10px 20px 10px 20px;
}

.myContainer {
    align-content: center;
    background: #B0A084;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#a:navhover {
    background-color: #583E23;;
    color: #FFA064;
}

#imgDiv {
        position: relative;
        top: 10;
        left: 0;
        margin: 10px;
        float: left;
}

.line {
    color: #13262F;
    height:1px; 
    width:100%; 
}

.formContainer {
    background:#B0A084;
    border: 2px solid #E9E6FF;
    color: #777;
    float:center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto; 
    min-height: 100%;
    padding: 20px;
}

.labelClass {
    color:#13262F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
}

.labelPhoto {
    background: #583E23;
    bottom: 15px;
    color: #E9E6FF;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-size: 18px;
    padding: 15px;
    position: absolute;
    text-align: center;
    width:275px;
}

#mainCont {
    margin-top: 20px;
}

#me {
    background: #583E23;
    color: #E9E6FF;
    float:left;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-size: 36px;
    padding: 10px;
    text-align: left;
}

#mynav {
    color: #13262F;
    text-align: right;
}

#navHeight {
    height: 60px;
}

.pageTitle {
    color: #583E23;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-size: 30px;
    text-align: left;
}

.photo1 {
    float: left;
    margin: 10px;
    position:relative;
}

.top-marg {
    margin-top: 5px;
}

.white-bg {
    background: #fff;
}

footer{
    background-color:#583E23;
    border-top: 5px solid #13262F;
    color: #ebebeb;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 45px;
    text-align: center;
    width: 100%;
}