.about {
    color:#777;
    size: 18px;
}

article {
    margin-bottom: 20px;
}

.bodyClass {
    background-image: url("../../Images/light-grey-terrazzo.png");
    /* Background pattern from Toptal Subtle Patterns */
}

br {
    clear: both;
}

.button {
background-color:  #4aaaa5;
color:#fff;
padding: 10px 20px 10px 20px;
}

.myContainer {
    align-content: center;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

a:hover {
    background-color: #4aaaa5;;
    color: white;
}

#imgDiv {
        position: relative;
        top: 10;
        left: 0;
        margin: 10px;
        float: left;
}

.line {
    color: #777;
    height:1px; 
    width:100%; 
}

.formContainer {
    background:#ffffff;
    border: 2px solid #ffffff;
    color: #777;
    float:center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto; 
    min-height: 100%;
    padding: 20px;
}

.labelClass {
    color:#777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
}

.labelPhoto {
    background: #4aaaa5;
    bottom: 15px;
    color: #ebebeb;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-size: 18px;
    padding: 15px;
    position: absolute;
    text-align: center;
    width:225px;
}

#me {
    background: #4aaaa5;
    color: #fff;
    float:left;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-size: 36px;
    padding: 10px;
    text-align: left;
}

#mynav {
    color: #777;
    text-align: right;
}

#navHeight {
    height: 70px;
}

.pageTitle {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-size: 30px;
    text-align: left;
}

.photo1 {
    float: left;
    margin: 10px;
    position:relative;
}

.top-marg {
    margin-top: 5px;
}

.white-bg {
    background: #fff;
}

footer{
    background-color:#777;
    border-top: 5px solid #4aaaa5;
    bottom: 0;
    clear:both;
    color: #ebebeb;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 45px;
    position: relative;
    text-align: center;
    width: 100%;
}